<app-nav-bar></app-nav-bar>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#menu1">Lista de desejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2">Para zerar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">Zerados</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container active" id="menu1">
        <div class="game-card card">
            <img class="card-img-top" src="assets/images/ys8.jpg" alt="Card image">
            <div class="card-body game-card-info">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu2">..2.</div>
    <div class="tab-pane container fade" id="menu3">.3..</div>
</div>